body {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/71ol1jY8qQL._AC_SL1024_.jpg');
}

h1 {
  text-align: center;
  background-color: silver;
  margin: auto;
}

.form-container-full-width, .display-zone-full-width {
  text-align: center;
}

.form-container, .display-zone, .error-zone {
  display: inline-block;
  text-align: center;
  background-color: silver;
  padding: 1.5em;
  margin: 0.5em;
}

.error-zone {
  font-size: 2em;
}

.hidden {
  /* width: 300px;
  height: 500px; */
  display: none;
}